<!DOCTYPE html>
<html ng-app='CipherApp'>
<head>
  <title>Cipher</title>
</head>
<body ng-controller='CipherController'>
  <input type='text' ng-model='encodeInput' ng-show='inputMode' ng-change='change(encodeInput)'/>
  <input type='text' ng-model='decodeInput' ng-show='!inputMode' ng-change='change(decodeInput)'/>
  <input type='text' ng-model='password' ng-change='updatePassword(password)'>
  <form id='mode'>
    <input name='mode' type='radio' ng-checked='inputMode' ng-click='inputMode=!inputMode'>encode</input>
    <input name='mode' type='radio' ng-checked='!inputMode' ng-click='inputMode=!inputMode'>decode</input>
  </form>
  <br>
  <p ng-show='inputMode'>
    {{encodeInput}}  
  </p>
  <p ng-show='!inputMode'>
    {{decodeInput}}
  </p>
  <br>
  <p>
    {{output}}
  </p>

  <script src="angular.min.js"></script>
  <script src="cipher.js"></script>
  <script>  
    angular.module('CipherApp', [])
      .controller('CipherController', function($scope, CipherFactory){
        $scope.inputMode = true;
        $scope.password = CipherFactory.key.join('');
        $scope.encodeInput = '';
        $scope.output = '';
        $scope.encode = CipherFactory.encode;
        $scope.decode = CipherFactory.decode;
        $scope.check = function(){
          if($scope.password.length === 0){
            $scope.output = 'please enter an encryption code';
            return false;
          }else{
            return true;
          }
        };
        $scope.change = function(i){
          if($scope.check()){
            if($scope.inputMode){
              $scope.output = $scope.encode.call(CipherFactory, i);  
            }else{
              $scope.output = $scope.decode.call(CipherFactory, i);
            }
          }
        };
        $scope.updatePassword = function(){
          if($scope.check()){
            CipherFactory.key = $scope.password.toLowerCase().split('');
            $scope.change($scope.encodeInput);
          }
        };
      })

      .factory('CipherFactory', function(){
        var key = 'password';
        var alpha = 'qo4u0i9xedy3bazwjgc7m1kp5fshr8ylv62n';
        return new VigenereCipher(key, alpha);
      });

  </script>
</body>
</html>