<!DOCTYPE html>
<html ng-app='CipherApp'>
<head>
  <title>Cipher</title>
</head>
<body ng-controller='CipherController'>
  <input type='text' ng-model='encodeInput' ng-show='inputMode' ng-change='change(encodeInput)'/>
  <input type='text' ng-model='decodeInput' ng-show='!inputMode' ng-change='change(decodeInput)'/>
  <input type='text' ng-model='password' ng-change='updatePassword(password)'>
  <form id='mode'>
    <input name='mode' type='radio' ng-checked='inputMode' ng-click='inputMode=!inputMode'>encode</input>
    <input name='mode' type='radio' ng-checked='!inputMode' ng-click='inputMode=!inputMode'>decode</input>
  </form>
  <br>
  <p ng-show='inputMode'>
    {{encodeInput}}  
  </p>
  <p ng-show='!inputMode'>
    {{decodeInput}}
  </p>
  <br>
  <p>
    {{output}}
  </p>

  <script src="angular.min.js"></script>
  <script src="cipher.js"></script>
  <script src="cipher.app.js"></script>
  <script src="cipher.controller.js"></script>
  <script src="cipher.factory.js"></script>  
</body>
</html>